<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Redis-->
    <add key="Redis_ServerIp" value="127.0.0.1"/>
    <add key="Redis_ServerPort" value="6379"/>
    <!--RabbitMQ-->
    <add key="RabbitMQ_UserName" value="guest"/>
    <add key="RabbitMQ_Pwd" value="guest"/>
    <add key="RabbitMQ_ServerIp" value="127.0.0.1"/>
    <add key="RabbitMQ_ServerPort" value="5672"/>
    <add key="RabbitMQ_QueueName" value="DemoQueueName"/>
    <add key="RabbitMQ_ExchangeName" value="DemoExchangeName"/>
    <add key="RabbitMQ_ExchangeType" value="direct"/>
    <add key="RabbitMQ_RoutingKey" value="RoutingKey"/>
  </appSettings>
</configuration>